doctype html
html
  head
    title Building Audit
    style
        include style.css
  body
    form(action='/login', method='POST')
       div
          label(for = "username") Username:
          input(name = "username")
       br
       div
          label(for = "password") Password:
          input(name = "password" type="password")
       br
       p <a href="/contractor-register">Register as contractor</a>
       button(type = "submit") Submit
    br
    footer
      p Copyright &copy; Sri Sanketh Uppalapati & Sameer Killamshetty 2018
