doctype html
html
  head
    title Building Audit
    style
        include style.css
  body
    h1 House Dashboard
    div
          img(src="", alt="No image available")
          br
          <strong>Location</strong>: <span></span>
          br
          <strong>Service</strong>: <span></span>
          br
          <strong>Fees</strong>: <span></span>
          br
          <strong>Status</strong>: <span></span>
          br
    br
    footer
      p Copyright &copy; Sri Sanketh Uppalapati & Sameer Killamshetty 2018
