doctype html
html
  head
    title Building Audit
    style
        include style.css
  body
    h1 Welcome to B-Audit
    br
    button(type = "button" onclick="move('/owner-login')") Login as Owner
    button(type = "button" onclick="move('/contractor-login')") Login as Contractor
    footer
      p Copyright &copy; Sri Sanketh Uppalapati & Sameer Killamshetty 2018
  script.
    function move(loc) {
      window.location.href = loc
    }
