<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Building Audit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  #servicebox {
  border: 15px solid green;
  padding: 15px;
  margin: 15px;
  }
  </style>
</head>
<body>
  <h2> Ongoing Services</h2>
  {% for service in ongoing_services %}
  <div id="servicebox">
    <div id = "service_registration_form">
        <form method="POST">
        <input type="hidden" name="id" value="{{service[0]}}"
        <div>
          <label for="owner"> Owner: {{service[1]}} </label>
          <input type="hidden" name="owner" value="{{service[1]}}">
        </div>
        <div>
          <label for="house_id"> Owner: {{service[2]}} </label>
          <input type="hidden" name="house_id" value="{{service[2]}}">
        </div>
        <div>
          <label for="device_id"> Device ID: {{service[3]}} </label>
          <input type="hidden" name="device_id" value="{{service[3]}}">
        </div>
        <br>
        <div>
          <label for="contractor"> Contractor: {{service[4]}} </label>
          <input type="hidden" name="contractor" value="{{service[4]}}">
        </div>
        <br>
        <div>
          <label for="value"> Type: {{service[5]}} </label>
          <input type="hidden" name="type" value="{{service[5]}}">
        </div>
        <br>
        <div>
          <label for="cost"> Cost: {{service[6]}} </label>
          <input type="hidden" name="cost" value="{{service[6]}}">
        </div>
        <br>
        <div>
          <label for="status"> Status: {{service[7]}} </label>
          <input type="hidden" name="status" value="{{service[7]}}">
        </div>
        <br>
        <button type="submit">Take it!</button>
        </form>
    </div>
  </div>
  {% endfor %}
  <h2> Done Services</h2>
  {% for service in done_services %}
  <div id="servicebox">
    <p> Owner: {{service[1]}} </p>
    <p> House ID: {{service[2]}}</p>
    <p> Device ID: {{service[3]}} </p>
    <p> Contractor: {{service[4]}} </p>
    <p> Type: {{service[5]}} </p>
    <p> Cost: {{service[6]}} </p>
    <p> Status: {{service[7]}} </p>
  {% endfor %}
</body>
</html>
