<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Building Audit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <form action="/contractor-register" method="POST">
  <div>
    <label for="name"> Name:</label>
    <input name="name">
  </div>
  <br>
  <div>
    <label for="emailaddress"> Email Address:</label>
    <input name="name">
  </div>
  <br>
  <div>
    <label for="username"> Username:</label>
    <input name="username">
  </div>
  <br>
  <div>
    <label for="password"> Password:</label>
    <input name="password" type="password">
  </div>
  <br>
  <div>
    <label for="retypepassword"> Re-type Password:</label>
    <input name="retypepassword" type="password">
  </div>
  <br>
  <button type="submit">Register</button>
  </form>
</body>
</html>
