<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Building Audit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <style>
  .devicebox {
  border: 15px solid green;
  padding: 15px;
  margin: 15px;
  }
  </style>
</head>
<script>
function display(status) {
  if (status == 'none') {
    document.getElementById("device_registration_form").style.display = 'none';
    document.getElementById('register').style.display = 'block';
  }
  else {
    document.getElementById("device_registration_form").style.display = 'block';
    document.getElementById('register').style.display = 'none';
  }
}
function display_form(number = 'all') {
  var element = 'service_registration_form';
  if(number == 'all'){
    var total = document.getElementsByClassName("devicebox").length;
    for(var i = 0; i < total; i++){
      var el = element.concat(i+1);
      document.getElementById(el).style.display = 'none';
    }
  }
  else{
    var el = element.concat(number);
    if(document.getElementById(el).style.display == 'none')
    {
      document.getElementById(el).style.display = 'block';
    }
    else {
      document.getElementById(el).style.display = 'none';
    }
  }
}

function uploadImage(){
  var image = document.getElementById("image");
  var reader = new FileReader();
  reader.readAsDataURL(image.files[0]);
  reader.onload = function () {
     document.getElementById("deviceimage").value = reader.result;
   };
}
</script>
<body onload="display('none');display_form('all')">
  <nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href = "{{url_for('owner', username = username)}}">Dashboard</a>
    </div>
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="{{url_for('marketplace')}}">Marketplace</a></li>
      <li class="nav-item"><a class="nav-link" href="{{url_for('logout')}}">Logout</a></li>
    </ul>
  </div>
  </nav>
  <h2> Devices</h2>
  {% if devices  %}
      <div class = "row">
      {% for device in devices %}
      <div class="card bg-light col-md-2">
        <form method="POST">
        <input type="hidden" name="device_id" value="{{device[0]}}" />
        <button type="submit" name = "cancel_device" class="close btn btn-secondary ml-auto" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        </form>
        <img class="card-img-top" src="/static/images/device_images/{{device[4]}}" alt="Device image" style="width:100%">
          <p> Name: {{device[1]}} </p>
          <p> Status: {{device[3]}} </p>
          {% if device[3] == 'working' %}
          <button onclick="display_form({{device[0]}})" class="btn btn-primary">Service</button>
          {% endif %}
          <div id = "service_registration_form{{device[0]}}">
          <form method="POST">
          <div>
            <label for="type"> Type:</label>
            <input name="type">
          </div>
          <div>
            <label for="cost"> Cost:</label>
            <input name="cost">
          </div>
          <br>
          <input type="hidden" name="device_id" value="{{device[0]}}" />
          <button type="submit" name="register_service" class="btn btn-primary">Submit</button>
          </form>
          </div>
      </div>
      {% endfor %}
      </div>
      <h2> Applied Services</h2>
      <div class = "row">
      {% for service in applied_services %}
      <div class = "card bg-light col-md-2">
          <form method="POST">
          <input type="hidden" name="id" value="{{service[0]}}">
          <div>
            <label for="owner"> Owner: {{service[1]}} </label>
            <input type="hidden" name="owner" value="{{service[1]}}">
          </div>
          <br>
          <input type="hidden" name="house_id" value="{{service[2]}}">
          <div>
            <label for="device_id"> Device ID: {{service[3]}} </label>
            <input type="hidden" name="device_id" value="{{service[3]}}">
          </div>
          <br>
          <div>
            <label for="contractor"> Contractor: {{service[4]}} </label>
            <input type="hidden" name="contractor" value="{{service[4]}}">
          </div>
          <br>
          <div>
            <label for="value"> Type: {{service[5]}} </label>
            <input type="hidden" name="type" value="{{service[5]}}">
          </div>
          <br>
          <div>
            <label for="cost"> Cost: {{service[6]}} </label>
            <input type="hidden" name="cost" value="{{service[6]}}">
          </div>
          <br>
          <div>
            <label for="status"> Status: {{service[7]}} </label>
            <input type="hidden" name="status" value="{{service[7]}}">
          </div>
          <br>
          <button type="submit" name="cancel_service" class="btn btn-primary">Cancel</button>
          </form>
      </div>
      {% endfor %}
      </div>
      <h2> Ongoing Services</h2>
      <div class = "row">
      {% for service in ongoing_services %}
        <div class = "card bg-light col-md-2">
          <p> Owner: {{service[1]}} </p>
          <p> Device ID: {{service[3]}} </p>
          <p> Contractor: {{service[4]}} </p>
          <p> Type: {{service[5]}} </p>
          <p> Cost: {{service[6]}} </p>
          <p> Status: {{service[7]}} </p>
        </div>
      {% endfor %}
      </div>
  {% elif not devices%}
  <h2> You have not registered any devices, please register!</h2>
  {% endif %}
  <div id = "register">
  <p>Connect more devices by clicking register</p>
  <button onclick="display('block')" class="btn btn-primary"> Register </button>
  </div>
  <div id = "device_registration_form">
  <form method="POST">
  <div>
    <div>
      <label for="name"> Device Name:</label>
      <input name="name">
    </div>
    <div>
      <label for="image"> Device Image:</label>
      <input id = "image" type = "file" accept = "image/*" name="image" onchange="uploadImage()">
    </div>
    <div>
      <input id = "deviceimage" type = "hidden" name = "deviceimage" value = "">
    </div>
  </div>
  <br>
  <button type="submit" name="register_device" class="btn btn-primary">Register</button>
  </form>
  </div>
</body>
</html>
