<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Building Audit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <h1>Welcome to Building Audit</h1>
  <br>
  <button type="button" onclick="window.location.href='{{url_for('owner_login')}}'">Login as Owner</button>
  <button type="button" onclick="window.location.href='{{url_for('contractor_login')}}'">Login as Contractor</button>
  <footer>
      <p> Copyright &copy; Sri Sanketh Uppalapati & Sameer Killamshetty 2018 </p>
  </footer>
</body>
</html>
