<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Building Audit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <style>
  .servicebox {
  border: 15px solid green;
  padding: 15px;
  margin: 15px;
  }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href = "{{url_for(type, username = username)}}">Dashboard</a>
    </div>
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="{{url_for('marketplace')}}">Marketplace</a></li>
      <li class="nav-item"><a class="nav-link" href="{{url_for('logout')}}">Logout</a></li>
    </ul>
  </div>
  </nav>
  <h2> Need Services</h2>
  <div class = "row">
  {% for service in need_services %}
    <div class = "card col-md-6">
      {% if type == "contractor" %}
          <div id = "service_registration_form">
              <form method="POST">
              <input type="hidden" name="id" value="{{service[0]}}"
              <div class = "form-group">
                <label for="owner"> Owner: {{service[1]}} </label>
                <input type="hidden" name="owner" value="{{service[1]}}">
              </div>
              <div class = "form-group">
                <label for="house_id"> House ID: {{service[2]}} </label>
                <input type="hidden" name="house_id" value="{{service[2]}}">
              </div>
              <div class = "form-group">
                <label for="device_id"> Device ID: {{service[3]}} </label>
                <input type="hidden" name="device_id" value="{{service[3]}}">
              </div>
              <br>
              <div class = "form-group">
                <label for="contractor"> Contractor: {{service[4]}} </label>
                <input type="hidden" name="contractor" value="{{service[4]}}">
              </div>
              <br>
              <div class = "form-group">
                <label for="value"> Type: {{service[5]}} </label>
                <input type="hidden" name="type" value="{{service[5]}}">
              </div>
              <br>
              <div class = "form-group">
                <label for="cost"> Cost: {{service[6]}} </label>
                <input type="hidden" name="cost" value="{{service[6]}}">
              </div>
              <br>
              <div class = "form-group">
                <label for="status"> Status: {{service[7]}} </label>
                <input type="hidden" name="status" value="{{service[7]}}">
              </div>
              <br>
              <button type="submit" class="btn btn-primary">Take it!</button>
              </form>
          </div>
      {% else %}
          <p> Owner: {{service[1]}} </p>
          <p> House ID: {{service[2]}}</p>
          <p> Device ID: {{service[3]}} </p>
          <p> Contractor: {{service[4]}} </p>
          <p> Type: {{service[5]}} </p>
          <p> Cost: {{service[6]}} </p>
          <p> Status: {{service[7]}} </p>
      {% endif %}
    </div>
  {% endfor %}
  </div>
  <h2> Ongoing Services</h2>
  <div class = "row">
  {% for service in ongoing_services %}
    <div class = "card col-md-6">
      <p> Owner: {{service[1]}} </p>
      <p> House ID: {{service[2]}}</p>
      <p> Device ID: {{service[3]}} </p>
      <p> Contractor: {{service[4]}} </p>
      <p> Type: {{service[5]}} </p>
      <p> Cost: {{service[6]}} </p>
      <p> Status: {{service[7]}} </p>
    </div>
  {% endfor %}
  </div>
</body>
</html>
