<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Building Audit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  #housebox {
  border: 15px solid green;
  padding: 15px;
  margin: 15px;
  }
  </style>
</head>
<script>
function display(status) {
  if (status == 'none') {
    document.getElementById("house_registration_form").style.display = 'none';
    document.getElementById('register').style.display = 'block'
  }
  else {
    document.getElementById("house_registration_form").style.display = 'block';
    document.getElementById('register').style.display = 'none'
  }
}
</script>
<body onload="display('none')">
  {% if houses  %}
      {% for house in houses%}
      <a href="{{ url_for('house', number=house[0]) }}">
        <div id="housebox">
          <p> Name: {{house[2]}} </p>
          <p> Location: {{house[3]}} </p>
        </div>
      </a>
      {% endfor %}
      <h2> Applied Services</h2>
      {% for service in applied_services %}
      <div id = "housebox">
          <form method="POST">
          <input type="hidden" name="id" value="{{service[0]}}">
          <div>
            <label for="owner"> Owner: {{service[1]}} </label>
            <input type="hidden" name="owner" value="{{service[1]}}">
          </div>
          <br>
          <div>
            <label for="owner"> House ID: {{service[2]}} </label>
            <input type="hidden" name="house_id" value="{{service[2]}}">
          </div>
          <br>
          <div>
            <label for="device_id"> Device ID: {{service[3]}} </label>
            <input type="hidden" name="device_id" value="{{service[3]}}">
          </div>
          <br>
          <div>
            <label for="contractor"> Contractor: {{service[4]}} </label>
            <input type="hidden" name="contractor" value="{{service[4]}}">
          </div>
          <br>
          <div>
            <label for="value"> Type: {{service[5]}} </label>
            <input type="hidden" name="type" value="{{service[5]}}">
          </div>
          <br>
          <div>
            <label for="cost"> Cost: {{service[6]}} </label>
            <input type="hidden" name="cost" value="{{service[6]}}">
          </div>
          <br>
          <div>
            <label for="status"> Status: {{service[7]}} </label>
            <input type="hidden" name="status" value="{{service[7]}}">
          </div>
          <br>
          <button type="submit" name="cancel_service">Cancel</button>
          </form>
      </div>
      {% endfor %}
      <h2> Ongoing Services</h2>
      {% for service in ongoing_services %}
        <div id = "housebox">
          <p> Owner: {{service[1]}} </p>
          <p> House ID: {{service[2]}}</p>
          <p> Device ID: {{service[3]}} </p>
          <p> Contractor: {{service[4]}} </p>
          <p> Type: {{service[5]}} </p>
          <p> Cost: {{service[6]}} </p>
          <p> Status: {{service[7]}} </p>
        </div>
      {% endfor %}
  {% elif not houses%}
  <h2> You have not registered any houses, please register!</h2>
  {% endif %}
  <div id = "register">
  <p>Connect more houses by clicking register</p>
  <button onclick="display('block')"> Register </button>
  </div>
  <div id = "house_registration_form">
  <form action="{{username}}" method="POST">
  <div>
    <label for="name"> Name:</label>
    <input name="name">
  </div>
  <br>
  <div>
    <label for="location">Location:</label>
    <input name="location">
  </div>
  <br>
  <button type="submit" name="register_house">Register</button>
  </form>
  </div>
</body>
</html>
