<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Building Audit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <form action="/owner-login" method="POST">
  <div>
  <div>
    <label for="username"> Username:</label>
    <input name="username">
  </div>
  <br>
  <div>
    <label for="password"> Password:</label>
    <input name="password" type="password">
  </div>
  <a href="{{url_for('owner_register')}}"> Have not registered yet!?</a>
  <br>
  <button type="submit">Login</button>
  </form>
</body>
</html>
